* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid lightgray;
}

header {
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 4px;
    margin-bottom: 20px;
}

.add {
    display: block;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    color: black;
    background-color: royalblue;
}

#add {
    color: white;
    display: block;
}

.nota {
    padding: 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.nota h1 {
    border-bottom: white 2px solid;
    color: black;
    word-break: break-all;
    hyphens: auto;
}

.nota p {
    margin: 10px 0px;
    color: black;
    word-break: break-all;
    hyphens: auto;
}

.nota, .add {
    border-radius: 5px;
}

.columns .column h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.columns .column p {
    font-size: 18px;
}

.columns {
    margin: 0;
}

.add:hover {
    box-shadow: 2px 2px 8px black;
    color: white;
}

.mod {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: rgba(100, 100, 100, 0.6);
}

.mod_box {
    width: 22rem;
    background-color: white;
    margin: 100px auto 0px auto;
    padding: 10px;
    border-radius: 5px;
}

.mod_title {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    padding: 6px;
}

#titulo, #texto {
    width: 100%;
    margin-top: 10px;
}

#titulo {
    font-size: 26px;
    text-align: center;
}

#texto {
    font-size: 22px;
    padding: 5px;
    border-radius: 4px;
    resize: none;
}

@media only screen and (max-width:768px) {
    #mod .mod_box {
        width: 22rem;
        background-color: white;
        margin: 0px auto 0px auto;
        padding: 5px;
        border-radius: 5px;
    }
    #mod #texto {
        font-size: 22px;
        padding: 5px;
        border-radius: 4px;
        resize: none;
        height: 130px;
    }
    .add {
        padding: 0;
        border-radius: 50%;
        width: 80px;
        font-size: 50px;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        margin: 20px;
    }
}

.fas:first-child {
    color: red;
    padding: 0px 5px;
}

.fas:first-last {
    color: royalblue;
    padding: 0px 5px;
}