* {
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1px solid lightgray;
}

h1 {
    text-align: center;
    padding: 10px;
}

.add {
    display: block;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    background-color: rgb(70, 218, 65);
    color: black;
}

.nota {
  border: 1px solid lightgray;
  padding: 5px;
}

.nota:hover {
    box-shadow: 2px 2px 8px black;
  }

.nota, .add {
    border-radius: 5px;
}

.columns .column h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.columns .column p {
  font-size: 18px;
}

.columns {
    margin: 0;
}

.add:hover {
    box-shadow: 2px 2px 8px black;
}

.mod {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: rgba(100, 100, 100, 0.6);
}

.mod_box {
    width: 22rem;
    background-color: white;
    margin: 100px auto 0px auto;
    padding: 10px;
    border-radius: 5px;
}

.mod_title {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    padding: 6px;
}

#titulo, #texto {
    width: 100%;
    margin-top: 10px;
}

#titulo {
    font-size: 26px;
}

#texto {
    font-size: 22px;
    padding: 5px;
    border-radius: 4px;
    resize: none;
}